[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/YangLi (forever342)
[access "refs/for/refs/*"]
	read = group user/YangLi (forever342)
	push = group user/YangLi (forever342)
	label-Code-Review = -2..+2 group user/YangLi (forever342)
	label-Verified = -1..+1 group user/YangLi (forever342)
	rebase = group user/YangLi (forever342)
	removeReviewer = group user/YangLi (forever342)
	submit = group user/YangLi (forever342)
[access "refs/heads/*"]
	read = group user/YangLi (forever342)
	create = group user/YangLi (forever342)
	push = +force group user/YangLi (forever342)
	pushMerge = group user/YangLi (forever342)
[access "refs/tags/*"]
	push = group user/YangLi (forever342)
	push = +force group user/YangLi (forever342)
